@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Survery Pro</title>

    <!-- Default V2 theme -->
    <link href="https://unpkg.com/survey-jquery/defaultV2.min.css" type="text/css" rel="stylesheet">

    <!-- Modern theme -->
    <!-- <link href="https://unpkg.com/survey-jquery/modern.min.css" type="text/css" rel="stylesheet"> -->

    <style>
        body {
            background-color: #F3F3F3;
        }
    </style>

</head>
<body>
    <div id="surveyContainer"></div>

    <!-- jQuery -->
    <script src="/theme/plugins/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="https://unpkg.com/survey-jquery/survey.jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            RenderSurvey();
        });

        Survey.StylesManager.applyTheme("defaultV2");

        const surveyJson = {
            elements: [{
                name: "FirstName",
                title: "Enter your first name:",
                type: "text"
            }, {
                name: "LastName",
                title: "Enter your last name:",
                type: "text"
            }]
        };

        const survey = new Survey.Model(surveyJson);

        function alertResults(sender) {
            const results = JSON.stringify(sender.data);
            alert(results);
            // saveSurveyResults(
            //     "https://your-web-service.com/" + SURVEY_ID,
            //     sender.data
            // )

        }

        survey.onComplete.add(alertResults);

        function RenderSurvey() {
            $("#surveyContainer").Survey({ model: survey });
        }

// function saveSurveyResults(url, json) {
//     const request = new XMLHttpRequest();
//     request.open('POST', url);
//     request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
//     request.addEventListener('load', () => {
//         // Handle "load"
//     });
//     request.addEventListener('error', () => {
//         // Handle "error"
//     });
//     request.send(JSON.stringify(json));
// }

    </script>

</body>
</html>
